{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }} - Wiki
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xl-11">
            {{ content|safe}}
        </div>
        <div class="col-xl-1">
            <form action="{% url 'encyclopedia:edit_entry' %}" method="GET">
                <input type="hidden" name="title" value="{{ title }}">
                <button type="submit" class="btn btn-outline-primary active mt-4">Edit</button>
            </form>
        </div>
    </div>
    
{% endblock %}