{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create Entry
{% endblock %}

{% block body %}
    <div>
        
        <h1>Create New Entry</h1>
        <form action="{% url 'encyclopedia:new_entry' %}" method="POST" autocomplete="off">
            {% csrf_token %}
            <div class="input-group mt-2 mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Enter title for entry:</span>
                </div>
               <input class="form-control" type="text" name="title" placeholder="Title">     
            </div>
            <div class="input-group mt-2 mb-3">
               <textarea class="form-control textarea-content" name="content" rows=10 >Page Content in Markdown Mark-up Language</textarea>  
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Save Page</button>
    
        </form>
    </div>
    
{% endblock %}