{% extends "auctions/layout.html" %}

{% block body %}
<div class="container-fluid">
            <div class="row pl-3 pt-3">
                <div class="col">
                    <ul class="nav">
                        <li class="nav-text">
                        <div>
                            <h3>Active Listings
                            </h3>
                            {% if category %}
                            <span class="badge badge-light">{{ category|capfirst  }}</span>
                            {% else%}
                            <span class="badge badge-light">All categories</span>
                            {% endif %}
                        </div>
                        </li>
                        <li class="nav-item dropdown ml-auto">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    Category
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'listings' 'fashion' %}">Fashion</a>
                                    <a class="dropdown-item" href="{% url 'listings' 'electronics' %}">Electronics</a>
                                    <a class="dropdown-item" href="{% url 'listings' 'home' %}">Home</a>
                                    <a class="dropdown-item" href="{% url 'listings' 'hobby' %}">Hobby</a>
                                    <a class="dropdown-item" href="{% url 'listings' 'toys' %}">Toys</a>
                                    <a class="dropdown-item" href="{% url 'listings' 'other' %}">Other</a>
                                </div>
                        </li>
                    </ul>
                    <hr>
                </div>
            </div>
            <div class="row pl-3 pt-3">
                <div class="col">
                    {% for listing in listings %}
                    <div class="row my-3">
                        <div class="col-md-3 col-xl-2">
                            <a href="{% url 'listing' listing.id %}" class="href_img">
                                {% if listing.image %}
                                <img src="{{ listing.image.url }}">
                                {% else %}
                                <img src="{{ MEDIA_URL }}/no_image.jpg">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-md-9 col-xl-4">
                            <div>
                                <h4>
                                    <a href="{% url 'listing' listing.id %}">
                                        {{ listing.title }}
                                    </a>
                                </h4>
                            </div>
                            <div>
                                <h5>
                                    <b>Price:</b> ${{ listing.price }}
                                </h5>
                            </div>
                            <div class="truncated_description">
                                {{ listing.description }}
                            </div>
                            <div>
                                <span class="font-weight-light">Ended in {{ listing.end_date|timeuntil }}</span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    {% empty %}
                    There are no listings yet. You can add new!
                    {% endfor %}
                </div>
            </div>
                


</div>

{% endblock %}