{% extends "auctions/layout.html" %}

{% block body %}
<div class="container-fluid">
    <div class="row px-3 pt-3">
        <div class="col-xl-12">
            <h2>Active Listings</h2>
            <hr>
            {% for listing in listings %}
            <div class="row my-3">
                <div class="col-md-3 col-xl-2">
                    <a href="{% url 'listing' listing.id %}" class="href_img">
                        <img src="{{ listing.image.url }}">
                    </a>
                </div>
                <div class="col-md-9 col-xl-4">
                    <div>
                        <h4>
                            <a href="{% url 'listing' listing.id %}">
                                {{ listing.title }}
                            </a>
                        </h4>
                    </div>
                    <div>
                        <h5>
                            <b>Price:</b> ${{ listing.price }}
                        </h5>
                    </div>
                    <div class="truncated_description">
                        {{ listing.description }}
                    </div>
                    <div>
                        <span class="font-weight-light">Ended in {{ listing.end_date|timeuntil }}</span>
                    </div>
                </div>
            </div>
            <hr>
            {% empty %}
            <div>
                There are no listings yet. You can add new!
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}