{% extends "auctions/layout.html" %}

{% block title %}
New listing |
{% endblock %}

{% block body %}
<div class="container-fluid">
    <form action="{% url 'new_listing' %}" method="POST" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
        <div class="row px-3 pt-3">
            <div class="col-md-5 col-xl-4">
                <h4 class="mb-3">Listing details</h4>
                <label for= "{{ form.title.id_for_label }}">Title</label>
                {{ form.title.errors }}
                <div class="input-group mb-3">
                        {{ form.title }}
                </div>
                <label for="{{ form.category.id_for_label }}">Category</label>
                <div class="input-group mb-3">
                    {{ form.category}}
                </div>
                <label for="item-photo">Photo
                    <span class="text-muted">Optional</span>
                </label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend" id="item-photo">
                        <span class="input-group-text" id="item-photo-input">Upload</span>
                    </div>
                    <div class="custom-file">
                        {{ form.photo }}
                        <label class="custom-file-label" for="{{ form.photo.id_for_label }}">Choose image</label>
                    </div>
                </div>
                <label for="{{ form.description.id_for_label}}">Item description</label>
                <div class="input-group mb-3">
                    {{ form.description }}
                </div>
            </div>
            <div class="col-md-5 col-xl-4">
                <h4 class="mb-3">Pricing details</h4>
                <label for="{{ form.duration.id_for_label }}">Duration</label>
                <div class="input-group mb-3">
                    {{ form.duration }}
                </div>
                <label for="{{ for.start_price.id_for_label}}">Starting bid</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                        <span class="input-group-text">0.00</span>
                    </div>
                    {{ form.start_price }}
                </div>
                <label for="{{ form.quantity.id_for_label}}">Quantity</label>
                <div class="input-group mb-3">
                    {{ form.quantity }}
                </div>
            </div>
        </div>
        <hr>
        <div class="px-3 mb-3">
            <button type="submit" class="btn btn-primary btn-lg">List item</button>
            <button type="submit" class="btn btn-outline-secondary btn-lg">Cancel</button>
        </div>
        
    </form> 
</div>


{% endblock %}